ALLOWED_DOMAINS=gmail.com,foo.baz
EXPRESS_SSL_ENABLED=true
GOOGLE_CLIENT_ID=632506578906-dNWUXVDaAnpgoeCCqTl7yWFgsSSZrei7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=NNaukDLUu9XefCY9QUKP53tv
PORT=3000
SESSION_SECRET=h(H7BdE2fh92^bEV.{+?0dS`WH9%QMV@:+fgq_Mb+Hy23q?q@xL{$kP[g*=<b?imU}OSFQ;
SSL_CERT_PATH=certs/acme.local.crt
SSL_KEY_PATH=certs/acme.local.key
